<h1>Podcast list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Real_time_start</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.name }}</td>
            <td>{% if entity.realtimestart %}{{ entity.realtimestart|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

