			<div class="on-air">
				<a  onclick="window.open(this.href,'Window title','width=1000,height=450,left=320,top=445');return false;"
href="/ecoute")" >
				
				<div class="player-bt">
					<span class="title">
					En direct :<br/>
						<marquee>{% for onair  in onairs %}{{ onair }}{% endfor %}</marquee>
					</span>
				 </div>
				 
				
				<!-- 
				<span class="title">Indian Summer</span>
				<span class="subtitle">Chicha Libre</span>
				-->
				
				</a>
			</div> <!-- .on-air -->

		